body{
    background-color: #171717;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper-header{
    margin: 35px auto 120px;
    width: 1460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block{
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    color: #E4B564;
}

.wrapper-main-higher{
    margin: 0 auto 160px;
    width: 1460px;
}

.topic-main-higher{
    font-size: 50px;
    margin-bottom: 40px;
}

.subtopic{
    margin-bottom: 40px;
    font-size: 20px;
}

.box-main-higher{
    height: 960px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}


.text{
    font-size: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tube{
    grid-column: 2 / 4;
}

.support-device{
    grid-column: 1 / 3;
}

.well-device{
    grid-column: 3 / 5;
}

.wrapper-main-lower{
    margin: 0 auto 190px;
    width: 1460px;
}

.topic-main-lower{
    font-size: 50px;
    margin-bottom: 100px;
}

.box-main-lower{
    display: grid;
    height: 900px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr 1fr 1fr 2fr;
    gap: 30px;
}

.text-lower{
    font-size: 20px;
    padding: 44px 52px;
}

.machine{
    grid-area: 1 / 2 / 3 / 3;
}

.loader{
    grid-area: 2 / 1 / 5 / 2;
}

.excavator{
    grid-area: 3 / 2 / 5 / 3;
    color: black;
}

.kamaz{
    grid-area: 2 / 3 / 4 / 4;
}

.wrapper-footer{
    width: 1460px;
    margin: 0 auto 240px;
    padding-top: 170px;
}

.topic-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.block-footer{
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #E4B564;
    padding: 10px 40px;
    color: #E4B564;
}

.box-footer{
    height: 780px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

.works{
    text-align: center;
    margin: 0 80px;
    font-size: 22px;
    line-height: 28px;
}

.exclusive{
    padding: 170px 185px;
}

.setlgroup{
    width: 100%;
}



